# .env

# Fill these out
VENDOR_TREASURY_ADDRESS=
VENDOR_GAS_TANK_ADDRESS=
VENDOR_GAS_TANK_PRIVATE_KEY=
RPC_ENDPOINT=https://sepolia.infura.io/v3/YOUR_INFURA_API_KEY
# VendorID is a UserID. You can create a UserID as `UserID_${ICP_PRINCIPAL}` or generate clientside at https://officex.app
VENDOR_ID=UserID_rxswe-tad5k-qwjsz-ooo5e-5py3z-wttmo-kx2kp-anfj7-rx7mb-356v3-yae
VENDOR_NAME="Generic Vendor"

# Existing variables (keep these as they are in dev)
NODE_ENV=development
CHAIN_NAME="SEPOLIA ETH"
CHAIN_ID_DEC=11155111
USDC_ADDRESS=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238
CHAIN_EXPLORER_URL=https://sepolia.etherscan.io
DEFAULT_BLOCK_CONFIRMATIONS=1


# PostgreSQL/TimescaleDB Credentials
# These are used by the 'db' service in docker-compose.yml to initialize the database.
# IMPORTANT: CHANGE 'your_secure_db_password' to a strong, unique password!
POSTGRES_USER=postgres 
POSTGRES_PASSWORD=your_secure_db_password
POSTGRES_DB=vendor_officex 

# Database Connection URL for your Node.js Fastify application
# This URL is constructed using the variables above and the Docker service name 'db'.
# Your Node.js app will read this DATABASE_URL environment variable.
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}


# Traefik Configuration for SSL
TRAEFIK_ENABLED=false
LE_EMAIL=youremail@email.com
SERVER_DOMAIN=

# Leave Default
PORT=3001
LOG_LEVEL=silent
SANITY_CHECK_ENV=helloworld

# AWS ADMIN CREDS
AWS_ACCESS_KEY_ID="YOUR_AWS_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY="YOUR_AWS_SECRET_ACCESS_KEY"
AWS_REGION="us-east-1"
BILLING_BUCKET_NAME=


# Optional - Error Reporting
SENTRY_DSN=